*, *::after {
    box-sizing: border-box;
}

body {
    width: 85%;
    margin: 0 auto;
    font-family: 'Droid Sans', sans-serif;
    background: #eef2f7;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header {
  width: 100%;
  text-align: center;
}

header::after {
    content: "";
    clear: both;
    display: table;
}

.cards-item {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;
}

/*-- MEDIA QUERIES FOR RESPONSIVE DESIGN --*/
@media screen and (min-width: 550px) {  /*-- for screens above 550px  --*/
  .cards-item {width: 50%;} /*-- sets card width to half of the page --*/
}
@media screen and (min-width: 1024px) { /*-- for screens above 1024px  --*/
  .cards-item {width: 33.33333%;} /*-- sets card width to one-third of the page --*/
}
@media screen and (min-width: 1280px) { /*-- for screens above 1280px  --*/
  .cards-item {width: 25%;} /*-- sets card width to one-quarter of the page --*/
}

.card {
    background: #dae3f2;
    border: 1px solid #dadada;
    border-radius: 25px;
}

.card:hover  {
  /*filter: blur(0px);  blur effect worked but was distractive */
  box-shadow: 4px 4px  2.5px lightgrey;
}

.card-image {
    background-size: cover;
    background-position: center center;
    padding-bottom: 60%;
    /*filter: blur(5px); blur effect worked but was distractive */
    border-radius: 25px 25px 0px 0px;
}

.card-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}

.card-title {
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
}

.card-text {
    font-weight: 400;
    text-align: center;
}

.card-btn {
    padding: .5rem;
    background: gray;
    border: darkgray;
    border-radius: 4px;
    background: #87CEEB;
    border: 2px solid #87CEEB;
    font-weight: 700;
    cursor: pointer;
}

.card-btn:hover {
  box-shadow: 2px 2px lightgrey;
}

.card-btn:active {
    border: 2px solid #54BFE9;
}

footer {
  width: 100%;
  text-align: center;
}

footer::after {
    content: "";
    clear: both;
    display: table;
}

.random1 {
  background-image: url('https://unsplash.it/800/600/?image=1062');
}

.random2 {
  background-image: url('https://unsplash.it/800/600/?image=1058');
}

.random3 {
  background-image: url('https://unsplash.it/800/600/?image=1040');
}

.random4 {
  background-image: url('https://unsplash.it/800/600/?image=1020');
}

.random5 {
  background-image: url('https://unsplash.it/800/600/?image=999');
}

.random6 {
  background-image: url('https://unsplash.it/800/600/?image=980');
}

.random7 {
  background-image: url('https://unsplash.it/800/600/?image=977');
}

.random8 {
  background-image: url('https://unsplash.it/800/600/?image=965');
}

.random9 {
  background-image: url('https://unsplash.it/800/600/?image=961');
}

.random10 {
  background-image: url('https://unsplash.it/800/600/?image=890');
}

.random11 {
  background-image: url('https://unsplash.it/800/600/?image=928');
}

.random12 {
  background-image: url('https://unsplash.it/800/600/?image=935');
}
