*, *::after {
    box-sizing: border-box;
}

body {
    width: 85%;
    margin: 0 auto;
    font-family: 'Droid Sans', sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cards-item {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;
}

/*-- MEDIA QUERIES FOR RESPONSIVE DESIGN --*/
@media screen and (min-width: 550px) {  /*-- for screens above 550px  --*/
  .cards-item {width: 50%;} /*-- sets card width to half of the page --*/
}
@media screen and (min-width: 1024px) { /*-- for screens above 1024px  --*/
  .cards-item {width: 33.33333%;} /*-- sets card width to one-third of the page --*/
}
@media screen and (min-width: 1280px) { /*-- for screens above 1280px  --*/
  .cards-item {width: 25%;} /*-- sets card width to one-quarter of the page --*/
}

.card {
    /*background: gray;  placeholder */
    border: 1px solid #dadada;
    transition: all 0.2s ease;
    animation: down-bump 0.4s ease;
}

.card:hover {
    animation: up-bump 0.4s ease;
}

@keyframes up-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 1.5em; }
  100% { padding-top: 2em; }
}
@keyframes down-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 2.5em; }
  100% { padding-top: 2em; }
}

.card-image {
    background-size: cover;
    background-position: center center;
    padding-bottom: 60%;  /*-- for 16:9 aspect ratio --*/
}

.card-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}

.card-title {
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    font-weight: 150%;
}

.card-text {
    font-weight: 400;
    text-align: center;
}

.card-btn {
    padding: .5rem;
    background: gray;
    border: darkgray;
    border-radius: 4px;
}

.card-btn:active {
    border: 2px solid skyblue;
}

.random1 {
  background-image: url('https://unsplash.it/800/600/?image=1062');
}

.random2 {
  background-image: url('https://unsplash.it/800/600/?image=1058');
}

.random3 {
  background-image: url('https://unsplash.it/800/600/?image=1040');
}

.random4 {
  background-image: url('https://unsplash.it/800/600/?image=1020');
}

.random5 {
  background-image: url('https://unsplash.it/800/600/?image=999');
}

.random6 {
  background-image: url('https://unsplash.it/800/600/?image=980');
}

.random7 {
  background-image: url('https://unsplash.it/800/600/?image=977');
}

.random8 {
  background-image: url('https://unsplash.it/800/600/?image=965');
}

.random9 {
  background-image: url('https://unsplash.it/800/600/?image=961');
}

.random10 {
  background-image: url('https://unsplash.it/800/600/?image=890');
}

.random11 {
  background-image: url('https://unsplash.it/800/600/?image=928');
}

.random12 {
  background-image: url('https://unsplash.it/800/600/?image=935');
}